input[type=button] {
  background-color: rgb(200, 200, 200);
  border: 2px solid rgb(100, 100, 100);
  margin-top: 5px;
  margin-bottom: 5px;
}

input[type=button]:hover {
  border: 2px solid yellow;
}

input[type=button]:focus {
  border: 2px solid green;
  outline: none;
}

input[type=button]:active {
  border: 2px solid blue;
  outline: none;
}

a {
  color: blue;
}

a:focus {
  outline: 2px solid green;
}

a:visited {
  color: red;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

.centered {
  text-align: center;
}

.subsection {
  background-color: rgba(10, 10, 10, 0);
  border-top: 1px solid blue;
  padding-bottom: 15px;
  transition: .5s;
}

.subsection:hover {
  background-color: rgba(10, 10, 10, .05);
}

.image {
  width: 800px;
  height: 600px;
  border: 2px solid black;
}

.gallery-button {
  width: 33%;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.bordered {
  border: 2px solid black;
}

.left-space {
  margin-left: 35px;
}
