html {
  --light-background: white;
  --light-text: black;
  --light-input-color: rgb(200, 200, 200);
  --light-input-border-color: rgb(100, 100, 100);

  --dark-background: black;
  --dark-text: white;
  --dark-input-color: rgb(100, 100, 100);
  --dark-input-border-color: rgb(200, 200, 200);
  
  --background-color: var(--light-background);
  --text-color: var(--light-text);
  --input-color: var(--light-input-color);
  --input-border-color: var(--light-input-border-color);

  background: var(--background-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: var(--dark-background);
    --text-color: var(--dark-text);
    --input-color: var(--dark-input-color);
    --input-border-color: var(--dark-input-border-color);
  }
}

body {
  margin: 0;
}

input[type=button] {
  background-color: var(--input-color);
  border: 2px solid var(--input-border-color);
  color: var(--text-color);
  margin-top: 5px;
  margin-bottom: 5px;
  height: 28px;
}

input[type=button]:hover {
  border: 2px solid yellow;
}

input[type=button]:focus {
  border: 2px solid green;
  outline: none;
}

input[type=button]:active {
  border: 2px solid blue;
  outline: none;
}

a {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
}

a:focus {
  outline: 2px solid green;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-family: sans-serif;
}

#greeting-container {
  margin-top: 20px;
}

.centered-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.centered {
  text-align: center;
}

.subsection {
  background-color: rgba(10, 10, 10, 0);
  border-bottom: 2px solid blue;
  padding-bottom: 15px;
  transition: .5s;
}

.subsection:hover {
  background-color: rgba(10, 10, 10, .05);
}

.image-container {
  width: 800px;
  height: 600px;
  border: 2px solid var(--text-color);
  background: var(--input-color);
}

.gallery-button {
  width: 30%;
  margin: 5px;
}

#navbar:hover {
  background-color: limegreen;
}

#navbar {
  background-color: limegreen;
}

.menu-item {
  flex: 2 1 auto;
  text-align: center;
  color: var(--text-color);
}

input[type=button].menu-button {
  width: 95%;
  background-color: limegreen;
  border: none;
  font-size: 20px;
  
}

input[type=button].menu-button:hover {
  color: blue;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.bordered {
  border: 2px solid var(--text-color);
}

.left-space {
  margin-left: 35px;
}
